<div class="form-layout">
	<nz-card
		class="form-layout__card"
		[nzBordered]="false"
		[nzTitle]="'heading.businessArea' | translate"
		[nzExtra]="action"
	>
		<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="businessAreaCode">{{
					'form.businessArea.businessAreaCode' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="businessAreaCode"
						type="text"
						nz-input
						[placeholder]="'form.businessArea.businessAreaCode' | translate"
						appCapitalize
						id="businessAreaCode"
					/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="bizAreaName">{{
					'form.businessArea.businessAreaName' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="businessAreaName"
						nz-input
						type="text"
						[placeholder]="'form.businessArea.businessAreaName' | translate"
						appCapitalize
						id="businessAreaName"
					/>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="costCenter">{{
					'form.businessArea.costCenter' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<nz-select
						nzShowSearch
						nzAllowClear
						id="costCenter"
						formControlName="costCenterId"
						[nzPlaceHolder]="'form.businessArea.costCenter' | translate"
					>
						<nz-option
							*ngFor="let option of costCenterList"
							[nzValue]="option.id"
							[nzLabel]="option.costCenterCode"
						></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="costCenter">{{
					'form.status.status' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<nz-select
						nzShowSearch
						nzAllowClear
						id="costCenter"
						formControlName="statusTypeId"
						[nzPlaceHolder]="'form.status.status' | translate"
					>
						<nz-option
							*ngFor="let option of status"
							[nzValue]="option.id"
							[nzLabel]="option.status"
						></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control class="action-control">
					<button nz-button nzType="primary" [disabled]="!form.valid">
						{{ getButtonLabel() }}
					</button>
				</nz-form-control>
			</nz-form-item>
		</form>
		<ng-template #action>
			<button nz-button routerLink="/businessarea/list" nzType="primary">
				<i nz-icon nzType="arrow-left"></i>
				{{ 'button.back' | translate }}
			</button>
		</ng-template></nz-card
	>
</div>
